body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    overflow-x: scroll;
}

#root {
    margin: 0 auto;
    overflow-x: scroll;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

#form-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

#form-container label {
    margin-right: 10px;
    font-weight: bold;
}

#form-container input[type="number"], #form-container button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form-container input[type="number"] {
    width: 60px;
}

#form-container button {
    background-color: #4c81af;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#form-container button:hover {
    background-color: #45a049;
}

